#container {
    float: none;
    text-align: center;
}

#form-container {
    float: none;
    margin: 0 auto;
}

input:not([type="submit"]) {
    border-collapse: collapse;
    display: table-cell;
}

.login-error {
    font-size: 11px;
}