<app-menu-vendedor></app-menu-vendedor>

<div class="container menu-margin">
    <h1>Venta de Tickets</h1>
</div>
<div class="container menu-margin">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputInicio">Nombre de pasajero</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Juan">
    </div>
    <div class="form-group col-md-6">
      <label for="inputDestino">DNI de pasajero</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="38098123">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCosto">Asientos disponibles</label>
    <select class="form-control">
        <option>Asiento1</option>
        <option>Asiento2</option>
      </select>
  </div>
  
  
    <div class="form-group">
      <label for="inputState">Rutas disponibles</label>
      <select class="form-control">
        <option>Ruta1</option>
        <option>Ruta2</option>
      </select>
    </div>
    
  
  <button type="submit" class="btn btn-primary btn-block">Guardar</button>
</form>

</div>