<app-menu-analista></app-menu-analista>

<div class="container menu-margin">
    <h1>Programar vuelos</h1>
</div>

<div class="container menu-margin">
<form [formGroup]="form">

  <div class="form-row">
    <div class="col">
        <label for="inputRuta">Ruta</label>
    <select *ngIf="ruta | async as ruta" class="form-control" formControlName="ruta">
        <option [value]="rutas.name" *ngFor="let rutas of ruta">
          {{ rutas.name}}
        </option>
      </select>
      </div>

    <div class="col">
        <label for="inputAvion">Avión</label>     
          <select *ngIf="avion | async as avion" class="form-control" formControlName="avion">
              <option [value]="aviones.name" *ngFor="let aviones of avion">
                {{ aviones.name}}
              </option>
            </select>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid"   (click)="guardarVuelo()">Guardar</button>
</form>
</div>

