<app-menu-analista></app-menu-analista>

<div class="container menu-margin">
    <h1>Programar vuelos</h1>
</div>

<alert type="success" *ngIf="flag" dismissOnTimeout="3000">
  <strong>Alta exitosa!</strong> El alta de la programación del vuelo fue correcto.
</alert>

<alert type="danger" *ngIf="flagError" dismissOnTimeout="2000">
  <strong>Alta Incorrecta!</strong> Vuelva a intentarlo
</alert>

<div class="container">
    <div class="form-row">
    
  <div class="form-group col-md-6">
    <label for="inputInicio">Itinerario</label>
    <select [(ngModel)] = "vueloObject.id_itinerary"  *ngIf="itinerarys | async as itinerary" class="form-control" >
      <option [value]="itinerarys.id_itinerary"   *ngFor="let itinerarys of itinerary">
      {{ itinerarys.from}} - {{itinerarys.to}}
      </option>
    </select>
  </div>

  <div class="form-group col-md-6">
      <label for="inputInicio">Modelo</label>
      <select [(ngModel)] = "vueloObject.id_aircraft"  *ngIf="aircrafts | async as aircraft" class="form-control" >
        <option [value]="aircrafts.id_aircraft" *ngFor="let aircrafts of aircraft">
            {{ aircrafts.id_aircraft}} - {{ aircrafts.model}} 
        </option>
      </select>
    </div>


    </div>
    <button type="submit" class="btn btn-primary btn-block" (click)="guardarVuelo()" >Guardar</button>
   </div> 