<app-menu-analista></app-menu-analista>

<div class="container menu-margin">
    <h1>Programar vuelos</h1>
</div>

<div class="container menu-margin">
<form>
  <div class="form-row">
    <div class="col">
        <label for="inputRuta">Ruta</label>
        <select class="form-control">
            <option *ngFor="let rutas of ruta  | async rutas"> {{rutas.name}} </option>
            
          </select>
    </div>
    <div class="col">
        <label for="inputAvion">Avión</label>
        <select class="form-control">
          <option *ngFor="let aviones of avion  | async aviones">{{ aviones.name }}</option>
          </select>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary btn-block">Guardar</button>
</form>
</div>

