
<app-menu-analista></app-menu-analista>
<div class="container menu-margin">
    <h1>Ganancias por ruta</h1>
</div>

<div class="container menu-margin">  
  <table class="table table-responsive  table-hover">
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Vuelo</th>
            <th scope="col">Precio</th>
            <th scope="col">Ganancias</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Brasil</td>
            <td>Argentina</td>
            <td>@mdo</td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Chile</td>
            <td>Peru</td>
            <td>@fat</td>

          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Inglaterra</td>
            <td>Francia</td>
            <td>@twitter</td>

          </tr>
        </tbody>
    </table>


</div>