<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Security Airlines</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/cerrar-vuelos']" >Inicio <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/venta-tickets']" >Venta de Tickets</a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cerrar-vuelos']" >Cerrar vuelos</a>
        </li>
    </ul>
    <button type="button" [routerLink]="['/login']" class="btn btn-outline-primary">Cerrar Sesion</button>
  </div>
</nav>