<app-menu-global></app-menu-global>

<div class="container distancia-menu">
    <h1>Alta de destinos</h1>
</div>

<div class="container menu-margin">
<form [formGroup]="form" >
    <div class="form-group">
        <label for="inputRuta">Nombre del destino</label>
        <input type="text" class="form-control" [ngClass]="{
          'is-invalid': form.controls.name.errors, 
          'is-valid': form.controls.name.valid 
        }"
        placeholder="" formControlName="name">
      </div>
 
  
  <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="guardarAltaDestino()" >Guardar</button>
</form>

</div>