<app-menu-global></app-menu-global>
<div class="container distancia-menu">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputInicio">Inicio</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Brasil">
    </div>
    <div class="form-group col-md-6">
      <label for="inputDestino">Destino</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Argentina">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCosto">Costo</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="10000">
  </div>
  
  
    <div class="form-group">
      <label for="inputState">Aviones disponibles</label>
      <select class="form-control">
        <option>Avion1</option>
        <option>Avion2</option>
      </select>
    </div>
    
  
  <button type="submit" class="btn btn-primary btn-block">Guardar</button>
</form>

</div>