<app-menu-global></app-menu-global>

<div class="text-center menu-margin">
    <h1>Alta de aviones</h1>
</div>

<div class="card">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group" >
        <label for="exampleFormControlInput1">Marca</label>
        <input type="text" name="marca" class="form-control" [ngClass]="{
          'is-invalid': form.controls.marca.errors, 
          'is-valid': form.controls.marca.valid 
        }" placeholder="Marca" formControlName="marca">
      
      </div>
      
      <div class="form-group">
        <label for="exampleFormControlInput1">Modelo</label>
        <input  name="modelo" type="text" class="form-control" [ngClass]="{
          'is-invalid': form.controls.modelo.errors, 
          'is-valid': form.controls.modelo.valid 
        }" formControlName="modelo" placeholder="Boeing 747">
        
      </div> 

      <div class="form-group" >
        <label for="exampleFormControlInput1">Matricula</label>
        <input  name="matricula" type="text" class="form-control" [ngClass]="{
          'is-invalid': form.controls.matricula.errors, 
          'is-valid': form.controls.matricula.valid 
        }" formControlName="matricula" placeholder="ADS10D">
        
      </div>


      <div class="form-group">
        <label for="exampleFormControlInput1">Butacas</label>
        <input  name="butacas" type="text" class="form-control" [ngClass]="{
          'is-invalid': form.controls.butacas.errors, 
          'is-valid': form.controls.butacas.valid || form.controls.butacas.errors.maxlength
        }" formControlName="butacas" placeholder="50">

      </div>
      
   
      <button type="submit"class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="guardarAltaAvion()">Guardar</button>
    </form>
  </div>
</div>




