<app-menu-global></app-menu-global>

<div class="text-center menu-margin">
    <h1>Alta de aviones</h1>
</div>

<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Marca</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Marca">
      </div>
      
      <div class="form-group">
        <label for="exampleFormControlInput1">Modelo</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Boeing 747">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Matricula</label>
        <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="ADS10D">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Cantidad de butacas</label>
        <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="50">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Guardar</button>
    </form>
  </div>
</div>