<app-menu-global></app-menu-global>

<div class="text-center menu-margin">
    <h1>Alta de aviones</h1>
</div>

<div class="card">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group" >
        <label for="exampleFormControlInput1">Marca</label>
        <input type="text" name="brand" class="form-control" [ngClass]="{
          'is-invalid': form.controls.brand.errors, 
          'is-valid': form.controls.brand.valid 
        }" placeholder="Marca" formControlName="brand">
      
      </div>
      

      <div class="form-group">
        <label for="exampleFormControlInput1">Modelo</label>
        <input  name="model" type="text" class="form-control" [ngClass]="{
          'is-invalid': form.controls.model.errors, 
          'is-valid': form.controls.model.valid 
        }" formControlName="model" placeholder="Boeing 747">
        
      </div> 

      <div class="form-group" >
        <label for="exampleFormControlInput1">Matricula</label>
        <input  name="registrationNumber" type="text" class="form-control" [ngClass]="{
          'is-invalid': form.controls.registrationNumber.errors, 
          'is-valid': form.controls.registrationNumber.valid 
        }" formControlName="registrationNumber" placeholder="ADS10D">
        
      </div>


      <div class="form-group">
        <label for="exampleFormControlInput1">Butacas</label>
        <input  name="max_seats" type="text" class="form-control" [ngClass]="{
          'is-invalid': form.controls.max_seats.errors, 
          'is-valid': form.controls.max_seats.valid || form.controls.max_seats.errors.maxlength
        }" formControlName="max_seats" placeholder="50">

      </div>
      
   
      <button type="submit"class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="guardarAltaAvion()">Guardar</button>
    </form>
  </div>
</div>




