<app-menu-vendedor></app-menu-vendedor>

<div class="container menu-margin">
    <h1>Cerrar Vuelos</h1>
</div>
<div class="container menu-margin">  
    <table class="table table-responsive  table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Inicio</th>
              <th scope="col">Destino</th>
              <th scope="col">Avion</th>
              <th scope="col">Cerrar vuelos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Brasil</td>
              <td>Argentina</td>
              <td>@mdo</td>
              <td><button type="button" class="btn btn-primary btn-block">Cerrar vuelo</button></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Chile</td>
              <td>Peru</td>
              <td>@fat</td>
              <td><button type="button" class="btn btn-primary btn-block">Cerrar vuelo</button></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Inglaterra</td>
              <td>Francia</td>
              <td>@twitter</td>
              <td><button type="button" class="btn btn-primary btn-block">Cerrar vuelo</button></td>
            </tr>
          </tbody>
      </table>


</div>